<main class="container mainr">
    <div>
        <img class="zoom" src="assets/img/recuerda1.png" alt="recuerda">
    </div>
    <div>
        <p>Nuestro día a día está lleno de actividades, así pasamos nuestra vida, ¿somos felices haciendo lo que
            hacemos? sí la ocupación es nuestra vida, hoy motívate con arte te invita qué hagas de ocio productivo
            un momento de felicidad, que inyecte emoción a tu vida, hoy el arte de dibujar letras lo hizo conmigo, a
            ti ¿qué te hace feliz?</p>
    </div>
    <div>
        <p>Muchas veces dejamos nuestra felicidad en manos de los demás, hoy motívate con arte, te invita a que tus
            decisiones te hagan feliz, a que tus espacios estén llenos de pequeños regalos que te recuerden las
            cosas que son realmente importantes. Nadie puede ser el dueño de tu felicidad, constrúyela, contrólala y
            adminístrala.</p>
    </div>
    <div>
        <img class="zoom"  src="assets/img/recuerda2.png" alt="recuerda2">
    </div>
    <div>
        <img class="zoom" src="assets/img/recuerda3.png" alt="recuerda3">
    </div>
    <div>
        <p>Atreverse a hacer algo diferente no necesariamente implica hacer cosas extremas, pero siempre te llevará
            a nuevos caminos, cambiar la forma de mirar a los demás, tu actitud al salir de casa, la rutina en las
            mañanas o en las noches, sea el cambio que decidas hacer, te traerá resultados diferentes, sí quieres
            cambiar algo en tu vida, cambia tú, es la invitación que hoy te hace motívate con arte.</p>
    </div>
</main>
