<article class="container">
    <h4 class="h4 titulop">Portarretratos</h4>
    <p class="divp pl">Saca las fotos archivadas y colócalas en los espacioes que se merecen, rotalas cuantas veces
        quieras gracias a la versatilidad de nuestros productos. Mantén tus recuerdos en la mente y en el corazón a
        quiénes más amas. Recuerda que puedes elejir el color, frase, y tamaño de todos de nuestros productos.</p>
</article>
<main class="abs-center container">
    <section class="row">
            <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
                <img src="assets/img/Producto-1.png" class="card-img-top" alt="Producto-1">
                <div class="card-body">
                    <p class="card-text">Portarretratos S con la frase "No te olvides de ser feliz".
                        COP$18.000</p>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
                <img src="assets/img/Producto-2.png" class="card-img-top" alt="Producto-2">
                <div class="card-body">
                    <p class="card-text">Portarretratos M con la frase "El amor es el vínvulo perfecto".
                        COP$20.000</p>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
                <img src="assets/img/Producto3.png" class="card-img-top" alt="Producto-3">
                <div class="card-body">
                    <p class="card-text">Portarretratos L con la frase "Juntos es mejor" color fucsia. COP$22.000
                    </p>
                </div>
            </div>
    </section>
    <div class="divp">
        <h4 class="h4 titulop">Portallaves</h4>
        <p class="pl">Al ingresar a tu vivienda encontraras un mensaje que te recuerde que este maravilloso lugar es
            tu
            hogar y que tu familia es amor. Grandes mensajes en espacios cotidianos son alimentos para tu mente y
            corazón. Recuerda que puedes elejir el color, frase, y tamaño de todos de nuestros productos.</p>
    </div>
    <section class="t-5 pb-5 row">
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-4.png" class="card-img-top" alt="Producto-4">
            <div class="card-body">
                <p class="card-text">Portallaves M con la frase "Hogar= alegria y amor" color azul celeste.
                    COP$20.000
                </p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-5.png" class="card-img-top" alt="Producto-5">
            <div class="card-body">
                <p class="card-text">Portallaves M con la frase "Amo mi hogar". COP$20.000</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-6.png" class="card-img-top" alt="Producto-6">
            <div class="card-body">
                <p class="card-text">Portallaves L con la frase "Love" color verde limon. COP$16.000</p>
            </div>
        </div>
    </section>
    <div class="divp">
        <h4 class="h4 titulop">Separadores de libros</h4>
        <p>Los libros son mágicos y una fuente de saber, pero estos mensajes le dan un toque agradable para que no
            olvides lo más importante de la vida, tu, tu familia, tus sueños y metas. Recuerda que puedes elejir el color, frase, y tamaño de todos de nuestros productos.</p>
    </div>
    <section class="pt-5 pb-5 row">
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-7.png" clrecuerdaestarbienass="card-img-top" alt="Producto-7">
            <div class="card-body">
                <p class="card-text">Separadores de libros con la frase "Sueña y volamos". COP$3.000
                </p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-8.png" class="card-img-top" alt="Producto-8">
            <div class="card-body">
                <p class="card-text">Separadores de libros con la frase "El exito es la suma de pequeños esfuerzos repetidos dia tras dia". COP$3.000</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-9.png" class="card-img-top" alt="Producto-9">
            <div class="card-body">
                <p class="card-text">Separadores de libros con la frase "Vive el hoy". COP$3.000</p>
            </div>
        </div>
    </section>
    <div class="divp">
        <h4 class="h4 titulop">Cuadros decorativos</h4>
        <p>Haz de cada espacio unn lugar de motivación, recibe un mensaje positivo que guíe tu camino cada día por
            el resto de tu vida. Recuerda que puedes elejir el color, frase, y tamaño de todos de nuestros productos.</p>
    </div>
    <section class="pt-5 pb-5 row">
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-10.png" class="card-img-top" alt="Producto-10">
            <div class="card-body">
                <p class="card-text">Cuadro a mano con tecnica de acaruela tamaño carta con la frase "Motivate con arte". COP$25.000
                </p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-11.png" class="card-img-top" alt="Producto-11">
            <div class="card-body">
                <p class="card-text">Cuadro a mano con tecnica en marcador tamaño carta con la frase "Locura es hacer lo mismo esperando diferentes resultados".  COP$25.000</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 cardp zoom">
            <img src="assets/img/Producto-12.png" class="card-img-top" alt="Producto-12">
            <div class="card-body">
                <p class="card-text">Cuadro a mano con tecnica pintura sobre madera tamaño carta con la frase "Cree en ti y todo sera posible". COP$30.000</p>
            </div>
        </div>
    </section>
</main>
