<div class="container card mb-3 mx-auto zoom">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/img/quienes1.png" class="img-fluid rounded-3"
                alt="mapa colombia">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">Motívate con arte es un emprendimiento colombiano que surge de la mezcla entre la ocupación y la pasión, busca poner a disposición de todos, un principio fundamental de la psicología, el lenguaje y el pensamiento están sujetos el uno al otro. Por tal motivo sabemos que tener en nuestra casa frases positivas, nos permite dirigir nuestros pensamientos y acciones hacia ellas. Utilizamos el lettering como medio de expresión. </p>
            </div>
        </div>
    </div>
</div>
<div class="container card mb-3 mx-auto zoom">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/img/quienes2.png" class="img-fluid rounded-3"
                alt="mapa colombia">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">En segundo lugar, sabemos que la ocupación y el ocio productivo son la base de una experiencia humana positivas, por ello invitamos a través de talleres y videos a que conozcan el arte de dibujar letras y se apropien de él, para que puedan expresar sus ideas y emociones.</p>
            </div>
        </div>
    </div>
</div>
<div class="container card mb-3 mx-auto zoom">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/img/quienes3.png" class="img-fluid rounded-3"
                alt="mapa colombia">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">Motívate con arte te invita continuamente a bajarte del mundo tecnológico y a recuperar la vida con tus manos, te invita a volver a darle valor a las pequeñas cosas de la vida, a los momentos, a los recuerdos, te invita a que te preguntes por la pasión que necesita tu vida. Te invita a ponerte a ti en el centro de felicidad y de transformación. Porque sí tu estas bien y feliz puedes dar más a los demás. </p>
            </div>
        </div>
    </div>
</div>
