<footer class="footer">
    <section>
        <p>Contáctanos en nuestras redes sociales.</p>
        <a href="https://wa.me/573144018200" target="_blank"><img src="assets/img/1.svg" alt="whatsapp"></a>
        <a href="https://www.youtube.com/channel/UCdI8H5wgngTBFeQ9_IjtJNg" target="_blank"><img src="assets/img/2.svg"
                alt="youtube"></a>
        <a href="https://www.instagram.com/motivate_con_arte/" target="_blank"><img src="assets/img/3.svg" alt="instagram"></a>
    </section>
    <span class="navbar-text">
        © Todos los derechos reservados | <strong style="font-weight: bolder">2022</strong>
    </span>
</footer>
